#token-action-hud-app.tah-style-pixel-style {
    position: fixed;
    z-index: 20;
}
/*default scaling (for 1440p resolution)*/
#token-action-hud.tah-style-pixel-style {
/* this value is the multiplier for how many actual pixels are in each of your big crunchy pixels */
	--pixel-hud-scaling: 3px;
	--pixel-hud-border-image: url(./static/pixel-border-2x.png);
}

/*1080p scaling*/
@media (max-width: 1920px) {
	#token-action-hud.tah-style-pixel-style {
		--pixel-hud-scaling: 2px;
		--pixel-hud-border-image: url(./static/pixel-border-3x.png);
	}
}
#token-action-hud.tah-style-pixel-style {
    --pixel-hud-font-size: calc(var(--pixel-hud-scaling) * 16);
    --pixel-hud-gradient-step: calc(var(--pixel-hud-scaling) * 18);
    --pixel-hud-background-color: #68a894;
    --pixel-hud-background-gradient: linear-gradient(to bottom,
            #00000000 calc(var(--pixel-hud-gradient-step) * 1),
            #00000010 calc(var(--pixel-hud-gradient-step) * 1) calc(var(--pixel-hud-gradient-step) * 2),
            #00000020 calc(var(--pixel-hud-gradient-step) * 2) calc(var(--pixel-hud-gradient-step) * 3),
            #00000030 calc(var(--pixel-hud-gradient-step) * 3) calc(var(--pixel-hud-gradient-step) * 4),
            #00000040 calc(var(--pixel-hud-gradient-step) * 4) calc(var(--pixel-hud-gradient-step) * 5),
            #00000050 calc(var(--pixel-hud-gradient-step) * 5) calc(var(--pixel-hud-gradient-step) * 6),
            #00000060 calc(var(--pixel-hud-gradient-step) * 6) calc(var(--pixel-hud-gradient-step) * 7),
            #00000070 calc(var(--pixel-hud-gradient-step) * 7) calc(var(--pixel-hud-gradient-step) * 8)
        );
    --pixel-hud-border-width: calc(var(--pixel-hud-scaling) * 4)
}
/*Typeface Settings*/
#token-action-hud.tah-style-pixel-style, #token-action-hud.tah-style-pixel-style button {
    font-family: "ChronoType";
    font-size: var(--pixel-hud-font-size);
    font-weight: normal;
    line-height: 1;
    text-shadow: var(--pixel-hud-scaling) var(--pixel-hud-scaling) #000;
    color: #f8f8f8;
}
#token-action-hud.tah-style-pixel-style #tah-character-name, 
#token-action-hud.tah-style-pixel-style button.tah-group-button {
    text-transform: uppercase;
}

/* Grey out inactiveEffect group */
#token-action-hud.tah-style-pixel-style .tah-subgroup[data-nest-id="effect_inactive"] {
    opacity: 0.6;
}

#token-action-hud.tah-style-pixel-style .tah-subgroup[data-nest-id="effect_inactive"] .tah-action-button .tah-button-text {
    color: #888888 !important;
}

/*Border and Background Settings*/
#token-action-hud.tah-style-pixel-style .tah-groups, 
#token-action-hud.tah-style-pixel-style .tah-subgroups-container,  
#token-action-hud.tah-style-pixel-style #tah-character-name {
    padding: var(--pixel-hud-scaling);
    padding-bottom: 0;
    border: var(--pixel-hud-border-width) solid rgba(0,0,0,0);
    border-image: var(--pixel-hud-border-image) 25% stretch;
    border-radius: 0;
    background-color: var(--pixel-hud-background-color);
    background-image: var(--pixel-hud-background-gradient);
    background-repeat: no-repeat;
    background-clip: padding-box;
}
#token-action-hud.tah-style-pixel-style .tah-subgroups {
    scrollbar-color: #f8f8f8 #8f8f8f00;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title {
    display: none;
    font-size: calc(var(--pixel-hud-scaling) * 8);
    text-transform: uppercase;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i::before {
    margin-top: calc(var(--pixel-hud-scaling) * -1);
}
#token-action-hud.tah-style-pixel-style .tah-groups.tah-unlocked .tah-list-subgroup-title {
    display: flex;
    gap: var(--pixel-hud-scaling);
    width: 100%;
    text-shadow: 1 1 #000;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i.tah-collapse-icon, 
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i.tah-expand-icon {
    order: -1;
}
#token-action-hud.tah-style-pixel-style .tah-tab-group {
    position: relative;
    padding-right: calc(var(--pixel-hud-scaling) * 5);
    margin-right: calc(var(--pixel-hud-scaling) * -5);
}
#token-action-hud.tah-style-pixel-style .tah-tab-group .tah-subgroups-container {
    position: absolute;
    left: calc(100%);
    top: calc(var(--pixel-hud-scaling) * -5);
    display: none;
}
#token-action-hud.tah-style-pixel-style .tah-tab-group .tah-subgroups-container.expand-up {
    position: absolute;
    left: calc(100%);
    bottom: calc(var(--pixel-hud-scaling) * -4);
    top: auto;
    display: none;
}
#token-action-hud.tah-style-pixel-style .tah-button-box {
    padding: 0;
}
#token-action-hud.tah-style-pixel-style button {
    justify-content: flex-start;
    border: none;
    background: none;
    padding: var(--pixel-hud-scaling);
    height: auto;
    min-height: auto;
}
#token-action-hud.tah-style-pixel-style .tah-button-image {
    width: var(--pixel-hud-font-size);
    height: var(--pixel-hud-font-size);
}
#token-action-hud.tah-style-pixel-style .tah-groups {
    width: min-content;
}
#token-action-hud.tah-style-pixel-style .tah-subgroups {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    width: max-content;
}
/*Variable Behaviors*/
#token-action-hud.tah-style-pixel-style .tah-tab-group.hover .tah-subgroups-container {
    display: block;
}

/*UI Icons*/
#token-action-hud.tah-style-pixel-style .tah-groups:not(.tah-unlocked) .tah-button-box:not(.disabled):hover::before {
	content: "";
	background: url(./static/glove-pointer.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute;
	left: calc(var(--pixel-hud-scaling) * -16);
	height: var(--pixel-hud-font-size);
	width: var(--pixel-hud-font-size);
	image-rendering: pixelated;
	z-index: 10;
}
#token-action-hud.tah-style-pixel-style .tah-hidden,
#token-action-hud.tah-style-pixel-style i.tah-edit-group-icon
{
    display: none;
}
#token-action-hud.tah-style-pixel-style .tah-groups.tah-unlocked .tah-group-button:hover i.tah-edit-group-icon {
    display: block;
    position: absolute;
	/* left: calc(var(--pixel-hud-scaling) * -16); */
    right: calc(var(--pixel-hud-scaling) * 5);
    top: 0;
}
#token-action-hud.tah-style-pixel-style #tah-buttons:not(.tah-hidden) {
	position: absolute;
	top: calc(100% + var(--pixel-hud-scaling));
	left: var(--pixel-hud-border-width);
	height: var(--pixel-hud-font-size);
    display: flex;
    flex-direction: row;
}
#token-action-hud.tah-style-pixel-style #tah-collapse-expand {
    position: absolute;
	top: var(--pixel-hud-border-width);
	left: calc(var(--pixel-hud-scaling) * -16);
}
#token-action-hud.tah-style-pixel-style .tah-button-box.tah-group-button {
	background: none;
	border: 0px;
	border-radius: 0;
}
#token-action-hud.tah-style-pixel-style .tah-button-box .tah-button-text {
	line-height: 1;
}
#token-action-hud.tah-style-pixel-style .tah-button-box .tah-button-content,
#token-action-hud.tah-style-pixel-style #tah-character-name {
	padding: 0 var(--pixel-hud-scaling);
}
#token-action-hud.tah-style-pixel-style .tah-button-icon i::before, 
#token-action-hud.tah-style-pixel-style #tah-collapse-expand button i::before,
#token-action-hud.tah-style-pixel-style .tah-tab-group i.tah-edit-group-icon::before,
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i::before {
	content: "";
	height: var(--pixel-hud-font-size);
	width: var(--pixel-hud-font-size);
	display: block;
	opacity: .5;
	image-rendering: pixelated;
}
#token-action-hud.tah-style-pixel-style #tah-collapse-expand #tah-expand-hud {
    padding: var(--pixel-hud-scaling);
}
#token-action-hud.tah-style-pixel-style .tah-button-icon:hover i::before, 
#token-action-hud.tah-style-pixel-style #tah-collapse-expand button:hover i::before,
#token-action-hud.tah-style-pixel-style .tah-tab-group.hover i.tah-edit-group-icon::before,
#token-action-hud.tah-style-pixel-style #tah-collapse-expand #tah-expand-hud i::before,
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i::before {
    opacity: 1;
}
#token-action-hud.tah-style-pixel-style #tah-collapse-hud i::before {
	background: url(./static/ui-left.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style #tah-expand-hud i::before {
	background: url(./static/ui-right.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style #tah-unlock i::before {
	background: url(./static/lock-locked.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style #tah-lock i::before {
	background: url(./static/lock-unlocked.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style #tah-edit-hud i::before {
	background: url(./static/edit.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style .tah-tab-group i.tah-edit-group-icon::before {
	background: url(./static/edit.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i.tah-collapse-icon::before {
	background: url(./static/ui-down.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i.tah-expand-icon::before {
	background: url(./static/ui-up.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-pixel-style .tah-list-subgroup-title i.tah-edit-icon::before {
	background: url(./static/edit.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
