/* 
:root {
    --tah-background-color: #00000000;
    --tah-border-radius: 10px;
    --tah-gap: 5px;

    --tah-button-background-color: #148782b3;

	--tah-button-gradient-initial: linear-gradient(180deg, rgba(17, 41, 41, .6) 0%, rgba(73, 164, 153, .6) 100%);
	--tah-button-gradient-highlight: linear-gradient(0deg, rgba(220, 211, 116, 1) 0%, rgba(255, 247, 154, 1) 100%);
	--tah-button-gradient-active: linear-gradient(0deg, rgba(226, 128, 121, .8) 0%, rgba(241, 163, 114, 0.8) 100%);
	--tah-button--gradient-header-transparent: linear-gradient(90deg, rgba(81, 199, 173, 0.3) 0%, rgba(4, 74, 44, 0.3) 100%);
	
	--tah-button-gradient-bg-transparent: linear-gradient(0deg, rgba(4, 74, 44, 0.3) 0%, rgba(4, 74, 44, 0.3) 100%);
	--tah-button-gradient-bg-translucent: linear-gradient(270deg, rgba(17, 41, 41, 0.5) 0%, rgba(73, 164, 153, 0.5) 100%);

    --tah-button-border-color: var(--tah-text-hover-primary-color);
    --tah-button-box-shadow: 0 2px 0 -1px #0c0c0c, 0 0 0 1px #060606,
        0 0 5px #000000ff;
    --tah-button-disabled-text-color: var(--tah-text-secondary-color);
    --tah-button-text-color: var(--tah-text-primary-color);
    --tah-button-height: 32px;
    --tah-button-min-width: 32px;
    --tah-button-hover-box-shadow: 0 0 5px #d8e08f;
    --tah-button-hover-text-color: #047470;
    --tah-button-active-background-color: #3c0078bf;
    --tah-button-active-box-shadow: 0 0 0 1px #9b8dff, inset 0 0 10px #9b8dff;
    --tah-button-toggle-background-color: #000000b3;
    --tah-button-toggle-hover-background-color: #3c0078bf;
    --tah-button-toggle-hover-box-shadow: 0 0 0 1px #9b8dff, 0 0 10px #9b8dff;
    --tah-text-disabled-color: var(--tah-text-secondary-color);

    --tah-text-primary-color: #ebf7af;
    --tah-text-secondary-color: #148782;
    --tah-text-tertiary-color: #ff6400;

    --tah-text-hover-primary-color: #047470;
    --tah-text-hover-secondary-color: #047470;
    --tah-text-hover-tertiary-color: var(--tah-text-tertiary-color);
    --tah-text-shadow: #77ebd7;
}

#token-action-hud {
    align-items: center;
    border-radius: var(--tah-border-radius);
    display: flex;
    flex-direction: row;
    height: auto;
    left: 150px;
    position: fixed;
    top: 80px;
    width: auto;
    z-index: 100;
}

#token-action-hud [class*="icon-"] {
    display: inline-block;
    width: 100%;
}

#tah-character-name {
    color: var(--tah-text-primary-color);
    font-size: var(--font-size-16);
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-shadow: var(--tah-text-shadow);
    top: -22px !important;
}

.tah-hidden {
    display: none !important;
}

#token-action-hud:hover #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
    display: flex;
}

#tah-collapse-hud,
#tah-buttons {
    align-items: center;
    display: none;
    font-style: normal;
    font-weight: normal;
    height: var(--tah-button-height);
    position: relative;
    z-index: 1;
}

#tah-collapse-expand {
    font-style: normal;
    font-weight: normal;
    left: -16px;
    position: absolute;
}

#tah-collapse-hud,
#tah-buttons button {
    background: transparent;
    border: 0;
    line-height: unset;
    margin: 0;
    padding: 0;
}

#tah-collapse-hud:hover,
#tah-collapse-hud:focus,
#tah-buttons button:hover,
#tah-buttons button:focus {
    box-shadow: none;
}

#tah-collapse-expand button > :is(.fa, .fas),
#tah-buttons button > :is(.fa, .fas) {
    color: var(--tah-text-primary-color);
    font-size: var(--font-size-12);
    margin: 3px;
    padding: 3px;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-shadow: var(--tah-text-shadow);
}

#tah-collapse-expand button > :is(.fa, .fas) {
    font-size: medium;
}

#tah-collapse-hud {
    left: -3px;
}

#tah-expand-hud {
    left: -3px;
    top: 16px;
}

#tah-expand-hud,
#tah-expand-hud:focus,
.tah-action-button,
.tah-action-button:focus,
.tah-group-button,
.tah-group-button:focus {
    align-items: center;
    background: var(--tah-button-gradient-initial);
    border: solid;
    border-width: 0.01em;
    border-color: var(--tah-button-border-color);
    border-radius: var(--tah-border-radius);
    box-shadow: none;
    color: var(--tah-button-text-color);
    display: flex;
    height: var(--tah-button-height);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    z-index: 1;
}

.tah-action-button,
.tah-group-button {
    font-size: var(--font-size-13);
    min-width: var(--tah-button-min-width);
}

#tah-expand-hud:hover,
.tah-action-button:active,
.tah-action-button:not(.disabled):hover,
.tah-group-button:not(.disabled):hover {
    border-color: var(--tah-text-hover-secondary-color);
    background: var(--tah-button-gradient-highlight);
    box-shadow: var(--tah-button-hover-box-shadow);
    color: var(--tah-text-hover-primary-color);
}

.tah-action-button.toggle:not(.disabled):hover {
    background: var(--tah-button-toggle-hover-background-color);
    box-shadow: var(--tah-button-toggle-hover-box-shadow);
}

.tah-action-button.active {
    background: var(--tah-button-active-background-color);
    box-shadow: var(--tah-button-active-box-shadow);
}

.tah-action-button.active.activeText > .tah-action-button-content:after {
    content: "*";
}

.tah-action-button.disabled {
    color: var(--tah-button-disabled-text-color);
}

.tah-action-button.disabled:hover {
    box-shadow: var(--tah-button-box-shadow);
}

.tah-action-button.shrink {
    min-width: min-content;
}

.tah-group-button > :is(.fa, .fas) {
    font-size: 8px;
    position: absolute;
    right: 0px;
    top: 2px;
    visibility: hidden;
}

.tah-group-button:hover:not(.disable-edit)
    > :is(.fa, .fas) {
    visibility: visible;
}

.tah-button-content:empty {
    display: none;
}

.tah-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-button-text {
    padding: 0;
}

.tah-action-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-action-button-text {
    overflow: hidden;
    padding-right: 1px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

#tah-collapse-expand:hover button > i,
#tah-buttons button:hover > i {
    color: var(--tah-text-hover-primary-color);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

#tah-edit-hud > :is(.fa, .fas) {
    font-size: var(--font-size-16);
}

#tah-groups,
.tah-tab-groups {
    display: flex;
    gap: var(--tah-gap);
    position: relative;
}

.tah-tab-groups {
    width: max-content;
}

.tah-tab-group,
.tah-group {
    display: flex;
    position: relative;
}

.tah-groups-container {
    display: none;
    position: absolute;
}

.tah-tab-group.hover > .tah-groups-container,
.tah-tab-group.hover > .tah-groups-container > .tah-groups {
    display: flex;
}

.tah-tab-group > .tah-groups-container.expand-down > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 3px 10px 10px 10px;
    position: relative;
}

.tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 10px 10px 3px 10px;
    position: relative;
}

#tah-groups > .tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column-reverse;
}

.tah-tab-group > .tah-groups-container.expand-down {
    top: calc(100% - 7px);
    padding-top: 10px;
}

.tah-tab-group > .tah-groups-container.expand-up {
    bottom: calc(100% + 3px + -10px);
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

.tah-tab-group
    > .tah-groups-container.expand-up
    > .tah-groups
    > .tah-list-groups {
    flex-direction: column-reverse;
}

.tah-list-groups,
.tah-tab-groups > .tah-tab-group > .tah-groups > .tah-actions {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
}

.tah-list-groups {
    flex-direction: column;
    display: flex;
    gap: var(--tah-gap);
}

.tah-list-groups .tah-list-groups {
    background: none;
}

.tah-list-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tah-groups {
    display: flex;
    flex-direction: column;
    gap: var(--tah-gap);
    width: max-content;
}

.tah-groups.expand-down {
    flex-direction: column;
}

#tah-groups.tah-unlocked
    .tah-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-group[data-show-title="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"]) {
    padding-left: 0px;
}

.tah-group:not([data-show-title="false"])[data-has-image="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"])[data-has-image="false"] {
    padding-left: 10px;
}

.tah-unlocked
    .tah-group
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-subtitle {
    align-items: center;
    color: var(--tah-text-primary-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--tah-font-size-10);
    gap: var(--tah-gap);
    letter-spacing: 0.1em;
    line-height: 1;
    text-shadow: var(--tah-text-shadow);
    text-transform: uppercase;
}

.tah-subtitle:hover {
    color: var(--tah-text-hover-primary-color);
    cursor: pointer;
}

.tah-subtitle-text {
    color: var(--tah-text-primary-color);
}

.tah-group[data-show-title="false"] > div > .tah-subtitle > .tah-subtitle-text {
    color: var(--tah-text-disabled-color);
}

.tah-subtitle > :is(.tah-edit-icon, .tah-collapse-icon, .tah-expand-icon) {
    bottom: 1px;
    font-size: 8px;
    pointer-events: none;
    position: relative;
    visibility: hidden;
}

.tah-subtitle:hover
    > :is(
        .tah-collapse-icon:not(.tah-hidden),
        .tah-expand-icon:not(.tah-hidden)
    ),
.tah-subtitle:hover:not(.disable-edit) > .tah-edit-icon {
    visibility: visible;
}

.tah-tab-group > .tah-actions {
    margin-top: 5px;
}

.tah-actions {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--tah-gap);
    width: 100%;
}

.tah-info1,
.tah-info2,
.tah-info3 {
    color: var(--tah-text-secondary-color);
    font-size: xx-small;
}

.tah-info1.tah-spotlight,
.tah-info2.tah-spotlight,
.tah-info3.tah-spotlight {
    color: var(--tah-text-tertiary-color);
}

.tah-subtitle > :is(.tah-info1, .tah-info2, .tah-info3) {
    background: var(--tah-button-background-color);
    border-radius: 5px;
    margin: 1px;
    padding: 1px 3px;
}

.tah-button-image {
    border-radius: var(--tah-border-radius);
    height: var(--tah-button-height);
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-list-image {
    border: none;
    border-radius: var(--tah-border-radius);
    box-shadow: var(--tah-button-box-shadow);
    height: var(--tah-button-height);
    margin-right: 5px;
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-icon > :is(.fa, .fas) {
    font-size: x-small;
    margin: 0px 2px 0px 0px;
}

.tah-icon-disabled {
    color: var(--tah-text-disabled-color);
}

.tah-subtitle > .tah-icon > :is(.fa, .fas) {
    text-shadow: var(--tah-text-shadow);
} */
#token-action-hud-app.tah-style-fu-style {
    position: fixed;
    z-index: 20;
}
/*default scaling (for 1440p resolution)*/
#token-action-hud.tah-style-fu-style {
/* this value is the multiplier for how many actual pixels are in each of your big crunchy pixels */
	--pixel-hud-scaling: 3px;
	--pixel-hud-border-image: url(./static/pixel-border-2x.png);
}

/*1080p scaling*/
@media (max-width: 1920px) {
	#token-action-hud.tah-style-fu-style {
		--pixel-hud-scaling: 2px;
		--pixel-hud-border-image: url(./static/pixel-border-3x.png);
	}
}
#token-action-hud.tah-style-fu-style {
    --pixel-hud-font-size: calc(var(--pixel-hud-scaling) * 16);
    --pixel-hud-gradient-step: calc(var(--pixel-hud-scaling) * 18);
    --pixel-hud-background-color: #68a894;
    --pixel-hud-background-gradient: linear-gradient(to bottom,
            #00000000 calc(var(--pixel-hud-gradient-step) * 1),
            #00000010 calc(var(--pixel-hud-gradient-step) * 1) calc(var(--pixel-hud-gradient-step) * 2),
            #00000020 calc(var(--pixel-hud-gradient-step) * 2) calc(var(--pixel-hud-gradient-step) * 3),
            #00000030 calc(var(--pixel-hud-gradient-step) * 3) calc(var(--pixel-hud-gradient-step) * 4),
            #00000040 calc(var(--pixel-hud-gradient-step) * 4) calc(var(--pixel-hud-gradient-step) * 5),
            #00000050 calc(var(--pixel-hud-gradient-step) * 5) calc(var(--pixel-hud-gradient-step) * 6),
            #00000060 calc(var(--pixel-hud-gradient-step) * 6) calc(var(--pixel-hud-gradient-step) * 7),
            #00000070 calc(var(--pixel-hud-gradient-step) * 7) calc(var(--pixel-hud-gradient-step) * 8)
        );
    --pixel-hud-border-width: calc(var(--pixel-hud-scaling) * 4)
}
/*Typeface Settings*/
#token-action-hud.tah-style-fu-style, #token-action-hud.tah-style-fu-style button {
    font-family: "ChronoType";
    font-size: var(--pixel-hud-font-size);
    font-weight: normal;
    line-height: 1;
    text-shadow: var(--pixel-hud-scaling) var(--pixel-hud-scaling) #000;
    color: #f8f8f8;
}
#token-action-hud.tah-style-fu-style #tah-character-name, 
#token-action-hud.tah-style-fu-style button.tah-group-button {
    text-transform: uppercase;
}
/*Border and Background Settings*/
#token-action-hud.tah-style-fu-style .tah-groups, 
#token-action-hud.tah-style-fu-style .tah-subgroups-container,  
#token-action-hud.tah-style-fu-style #tah-character-name {
    padding: var(--pixel-hud-scaling);
    padding-bottom: 0;
    border: var(--pixel-hud-border-width) solid rgba(0,0,0,0);
    border-image: var(--pixel-hud-border-image) 25% stretch;
    border-radius: 0;
    background-color: var(--pixel-hud-background-color);
    background-image: var(--pixel-hud-background-gradient);
    background-repeat: no-repeat;
    background-clip: padding-box;
}
#token-action-hud.tah-style-fu-style .tah-subgroups {
    scrollbar-color: #f8f8f8 #8f8f8f00;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title {
    display: none;
    font-size: calc(var(--pixel-hud-scaling) * 8);
    text-transform: uppercase;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i::before {
    margin-top: calc(var(--pixel-hud-scaling) * -1);
}
#token-action-hud.tah-style-fu-style .tah-groups.tah-unlocked .tah-list-subgroup-title {
    display: flex;
    gap: var(--pixel-hud-scaling);
    width: 100%;
    text-shadow: 1 1 #000;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i.tah-collapse-icon, 
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i.tah-expand-icon {
    order: -1;
}
#token-action-hud.tah-style-fu-style .tah-tab-group {
    position: relative;
    padding-right: calc(var(--pixel-hud-scaling) * 5);
    margin-right: calc(var(--pixel-hud-scaling) * -5);
}
#token-action-hud.tah-style-fu-style .tah-tab-group .tah-subgroups-container {
    position: absolute;
    left: calc(100%);
    top: calc(var(--pixel-hud-scaling) * -5);
    display: none;
}
#token-action-hud.tah-style-fu-style .tah-tab-group .tah-subgroups-container.expand-up {
    position: absolute;
    left: calc(100%);
    bottom: calc(var(--pixel-hud-scaling) * -4);
    top: auto;
    display: none;
}
#token-action-hud.tah-style-fu-style .tah-button-box {
    padding: 0;
}
#token-action-hud.tah-style-fu-style button {
    justify-content: flex-start;
    border: none;
    background: none;
    padding: var(--pixel-hud-scaling);
    height: auto;
    min-height: auto;
}
#token-action-hud.tah-style-fu-style .tah-button-image {
    width: var(--pixel-hud-font-size);
    height: var(--pixel-hud-font-size);
}
#token-action-hud.tah-style-fu-style .tah-groups {
    width: min-content;
}
#token-action-hud.tah-style-fu-style .tah-subgroups {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    width: max-content;
}
/*Variable Behaviors*/
#token-action-hud.tah-style-fu-style .tah-tab-group.hover .tah-subgroups-container {
    display: block;
}

/*UI Icons*/
#token-action-hud.tah-style-fu-style .tah-groups:not(.tah-unlocked) .tah-button-box:not(.disabled):hover::before {
	content: "";
	background: url(./static/glove-pointer.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute;
	left: calc(var(--pixel-hud-scaling) * -16);
	height: var(--pixel-hud-font-size);
	width: var(--pixel-hud-font-size);
	image-rendering: pixelated;
	z-index: 10;
}
#token-action-hud.tah-style-fu-style .tah-hidden,
#token-action-hud.tah-style-fu-style i.tah-edit-group-icon
{
    display: none;
}
#token-action-hud.tah-style-fu-style .tah-groups.tah-unlocked .tah-group-button:hover i.tah-edit-group-icon {
    display: block;
    position: absolute;
	/* left: calc(var(--pixel-hud-scaling) * -16); */
    right: calc(var(--pixel-hud-scaling) * 5);
    top: 0;
}
#token-action-hud.tah-style-fu-style #tah-buttons:not(.tah-hidden) {
	position: absolute;
	top: calc(100% + var(--pixel-hud-scaling));
	left: var(--pixel-hud-border-width);
	height: var(--pixel-hud-font-size);
    display: flex;
    flex-direction: row;
}
#token-action-hud.tah-style-fu-style #tah-collapse-expand {
    position: absolute;
	top: var(--pixel-hud-border-width);
	left: calc(var(--pixel-hud-scaling) * -16);
}
#token-action-hud.tah-style-fu-style .tah-button-box.tah-group-button {
	background: none;
	border: 0px;
	border-radius: 0;
}
#token-action-hud.tah-style-fu-style .tah-button-box .tah-button-text {
	line-height: 1;
}
#token-action-hud.tah-style-fu-style .tah-button-box .tah-button-content,
#token-action-hud.tah-style-fu-style #tah-character-name {
	padding: 0 var(--pixel-hud-scaling);
}
#token-action-hud.tah-style-fu-style .tah-button-icon i::before, 
#token-action-hud.tah-style-fu-style #tah-collapse-expand button i::before,
#token-action-hud.tah-style-fu-style .tah-tab-group i.tah-edit-group-icon::before,
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i::before {
	content: "";
	height: var(--pixel-hud-font-size);
	width: var(--pixel-hud-font-size);
	display: block;
	opacity: .5;
	image-rendering: pixelated;
}
#token-action-hud.tah-style-fu-style #tah-collapse-expand #tah-expand-hud {
    padding: var(--pixel-hud-scaling);
}
#token-action-hud.tah-style-fu-style .tah-button-icon:hover i::before, 
#token-action-hud.tah-style-fu-style #tah-collapse-expand button:hover i::before,
#token-action-hud.tah-style-fu-style .tah-tab-group.hover i.tah-edit-group-icon::before,
#token-action-hud.tah-style-fu-style #tah-collapse-expand #tah-expand-hud i::before,
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i::before {
    opacity: 1;
}
#token-action-hud.tah-style-fu-style #tah-collapse-hud i::before {
	background: url(./static/ui-left.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style #tah-expand-hud i::before {
	background: url(./static/ui-right.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style #tah-unlock i::before {
	background: url(./static/lock-locked.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style #tah-lock i::before {
	background: url(./static/lock-unlocked.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style #tah-edit-hud i::before {
	background: url(./static/edit.png) no-repeat 0 0;
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style .tah-tab-group i.tah-edit-group-icon::before {
	background: url(./static/edit.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i.tah-collapse-icon::before {
	background: url(./static/ui-down.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i.tah-expand-icon::before {
	background: url(./static/ui-up.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
#token-action-hud.tah-style-fu-style .tah-list-subgroup-title i.tah-edit-icon::before {
	background: url(./static/edit.png) no-repeat 0 0;
    height: calc(var(--pixel-hud-scaling) * 8);
    width: calc(var(--pixel-hud-scaling) * 8);
	background-size: 100%;
}
